<table class="table table-striped-columns" *ngIf="products && products.length > 0">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Price</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.categoryId }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td><a [routerLink]="['/products','edit',product.id]">Edit</a></td>
        <td><a [routerLink]="" (click)="deleteProduct(product.id)">Delete</a></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!products"> No Products Found</p>