<div class="container">
    <h1>Add new category</h1>
    <form #form="ngForm" (ngSubmit)="addCategory()">
        <div class="mb-3">
            <label for="category category" class="form-label">CategoryId</label>
            <input type="text" class="form-control" id="category" name="category" [(ngModel)] = "newcategory.id">        
        </div>
        <div class="mb-3">
            <label for="category name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "newcategory.name">        
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)] = "newcategory.description">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>